.container {
    width: 280px;
    height: 500px;
    margin-left: 60px;
    margin-top: 60px;
    box-shadow: $blackShadow;
    border-radius: 25px;
}

/* start header */
.header {
   height: 252px; 
   background:linear-gradient(135deg, #fa782e 8%, #c82930 83%);
   border-radius: 25px 25px 0 0;
   position: relative;
}

.nike_logo {
    width: 55px;
    height: 20px;
    margin: 10px 0 0 10px;
    margin-bottom: 20px;
}

.header_text {
    color: white;
    padding: 0 20px;
}

.header_text .header_head {
    font-size: 25px;
    margin-bottom: 10px;
}
.header_text .header_paragraph {
    font-size: 11px;
    margin-bottom: 17px;
}

.bigText {
    font-size: 110px;
    opacity: 0.1;
}

.red_shoe {
    position: absolute;
    top: 0;
    left: 70px;
}


/* end header */

/* start deails */

.main {
    background-color: white;
    height: 255px;
    padding: 20px;
    border-radius: 0  0 20px 20px;

}
.details {
    color: black;
}

.details_header {
    font-size: 18px;
    font-weight: 200;
}

.sport {
    font-weight: 900;
}
.green-box {
    display: inline-block;
    background-color: $greenColor;
    color: white;
    font-size: 10px;
    padding: 8px 12px;
    border-radius: 8px;
    margin-left: 10px;
}

.details_paragraph {
    font-size: 10px;
    margin-bottom: 20px;
}

    /* size */
.size_head {
    font-weight: 200;
}

.size_head {
margin-bottom: 10px;
}
.size_list {
    padding: 0;
    margin-bottom: 10px;
}
.size_list li {
    display: inline-block;
    margin: 0 10px;
}

a.active {
    background-color: $orangeColor;
    border-radius: 100%;
    padding: 5px;
}

    /* end size */

    /* st colors */
.colours {
    position: relative;
}
.colours h4 {
    font-weight: 200;
}

.colours .circle {
    display: inline-block;
    border-radius: 100%;
    padding: 10px;
    margin: 10px;
}
.colours .colours_red {
    background-color: $orangeColor;
}

.colours .colours_green {
    background-color: $greenColor;
}
.colours .colours_yellow {
    background-color: $yellowColor;
}

.colours_price {
    background-color: #11e95b;
    position: absolute;
    top: 30px;
    left: 140px;
    font-size: 1.5rem;
    color: white;
    border-radius: 20px;
    box-shadow: -10px 20px 15px -10px rgba(17, 233, 91, 0.3);  
    padding: 7px 20px;
    font-weight: 100;
}
.colours_price span {
    margin-left: 5px;
    font-weight: 900;
}


    /* end colors */

/* end deails */