/* Colors */

    /* Header */
$orangeColor: #fa782e;
$greenColor: #11e95b;
$yellowColor: #ffd414;
    /* Header */

    /* shadow */
$blackShadow: -15px 25px 1px rgba(0, 0, 0, 0.3);
$greenShadow: -10px 20px 15px -10px rgba(17, 233, 91, 0.3);
    /* shadow */

/* Colors */

